@font-face{
    font-family: "deltarune";
    src: url(8bitoperator-JVE.woff) format(woff);
    src: url(8bitoperator-JVE.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    
}